:root {
    --cor1: #6EBE96;
    --cor2: #177099;
    --cor3: #F2F1F1;
    --cor4: #B6A390;
    --cor5: #BACF3C;
    --font1: Arial, helvetica, sans-serif;
    --font2: 'Bebas Neue', cursive;
    --font3: '';
}

*{
    font-family: var(--font2);
}

header > h1{
    padding-bottom: 65px;
    
}

html{
    height: 100%;
    
}

body{
    text-align: center;
    background-color: var(--cor2);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
   
}

header{
    background-color: var(--cor1);
    height:200px;
    padding-top: 5px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);
    border-radius: 10px;
}


nav{
    text-align: left;
    padding: 10px;
    background-color: #89ebba;
    border-radius: 10px;
    margin: 0px 30px 0px 30px;
}

nav > a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

nav > input{

    float: right;
}

a{
    text-decoration: none;
    padding: 7px;
    font-family: var(--font2);
} 

nav > a:hover{
    background-color: aliceblue;
    border-radius: 10px;
}

footer > a:hover{
    text-decoration: underline;
}


main {
    border-radius: 10px;
    background-color: antiquewhite;
    margin: auto;
    width: 64%;
    height: 80%;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.445);
    
}

article{
    padding-bottom:9px;
}

h2{
    padding: 7px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);
    margin-top: 5px;
}

h3{
    text-align: left;
    background-image:linear-gradient(to right, #28bbff83,#27bbff10);
    font-size: 20pt;
    margin-left: 15px;
    text-indent: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);

}

h4{
    text-align: left;
    margin: 0px 0px 0px 15px;
    font-size: 20pt;
    background-color: hsl(150, 27%, 45%);
    padding: 5px;
    border-radius: 10px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);
    background-image:linear-gradient(to right, rgb(173, 255, 214, 0.075),rgba(95, 163, 129, 0.884));
}

p{
    text-indent: 40px;
    font-family: var(--font2);
    font-size: 1.5em;
    text-align: justify;
    padding: 0px 30px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);
    
}

img{
    width: 80%;
    height: 80%;
    
}

iframe{
    border-radius: 5px;
    background-color: #177099;
    padding: 10px;
}



aside{
    padding: 25px;
    margin: 30px;
    background-color: var(--cor1);
    border-radius: 10px;
    
}


aside > ul{
    columns: 2;
    text-align: left;
    margin-left: 20px;
}

div{
    width: 100px;
    height: 100px;
    display: inline-block;
}

li{
     white-space: nowrap;
}

footer{
    font-family: var(--font2);
    padding: 0px;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.164);
    margin-top: 5px;
    background-color: var(--cor5);
    padding: 7px;
    border-radius: 10px;
}

footer > p{
    margin: 0px;

}